@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    height: 100vh;
    background-color: #111827;
}

.movie:hover div:nth-of-type(1) {
    opacity: 1;
}

.movie:hover img {
    filter: blur(1px);
}

.movie:hover .foot {
    transform: translateY(-0);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
}